<a href="https://colab.research.google.com/github/Walt9819/factores-impacto-desempleo-mexico/blob/main/Python/FactoresDeImpactoEnDesempleoMX.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BEDU - Santander
## *Módulo 2. Procesamiento de Datos con Python*

**Equipo 18**

Integrantes:
- Irene López [ver perfil](https://www.linkedin.com/in/irene-lopez-rodriguez/)
- Laura Lozano [ver perfil](https://www.linkedin.com/in/laura-lozano-bautista/)
- Enrique Rodríguez [ver perfil](https://www.linkedin.com/in/enrique-rodriguez97/)
- Walter Rosales [ver perfil]()

# Tema: **Impacto de la pandemia de COVID-19 en el empleo del sector restaurantero y de alojamiento en México**

## Identificación del problema
La pandemia de COVID-19 en México trajo consigo desempleo y traslado de la población económicamente activa hacia la inactividad, ya sea por incompatibilidad de los horarios personales con el trabajo en línea, recortes administrativos o falta de herramientas tecnológicas. Asimismo, las personas que se mantuvieron ocupadas durante este periodo vieron un cambio en la calidad de su empleo, pues los costos económicos de las medidas sanitarias que las autoridades tomaron se vieron reflejados en la reducción de la oferta laboral (implicando así una mayor carga laboral para los empleados que permanecieron en las empresas), una menor capacidad utilizada y el funcionamiento de las cadenas de valor.

En los Pre-Criterios 2021 de la SHCP se menciona que los sectores que se vieron afectados de manera más inmediata y persistente son los servicios de alojamiento, esparcimiento, comercio, transporte, y aquellas regiones mayormente dependientes del turismo local y foráneo. Por otra parte, el comercio electrónico y los servicios de telecomunicaciones y tecnologías de la información, así como la venta de productos farmacéuticos se vieron favorecidos por el aumento de la demanda de sus productos y servicios. Dado que la pandemia ha tenido efectos diferenciados en los sectores, se espera que el empleo en cada uno de ellos también haya presentado cambios heterogéneos. Es de suma importancia investigar cuál fue el comportamiento del empleo en los sectores de servicios más afectados por el confinamiento, haciendo énfasis en las remuneraciones, jornadas laborales, acceso a instituciones de salud y tamaño de la unidad económica.


## Objetivo
> Analizar la situación del empleo en México durante el 2020 en los sectores de la actividad económica, haciendo especial énfasis en las condiciones laborales para saber si tuvo lugar la precarización del empleo.


## Preguntas de investigación
*	¿Cómo son las condiciones laborales de las personas que permanecieron en la ocupación durante la pandemia de COVID-19? 
*	¿Aceptaron recortes salariales con tal de conservar su empleo? 
*	¿Qué pasó con los trabajadores de los sectores más afectados? 
*	¿Y los de aquellos sectores que se vieron favorecidos por esta situación?
*	¿Qué parte de la estructura productiva fue la más golpeada: micros, pequeñas, medianas o grandes empresas?

## Recolección de datos

La fuente de datos para estre proyecto es la ENOE -para el segundo trimestre de 2020 se utiliza a la ETOE- del INEGI, para el periodo del primer trimestre al cuarto trimestre del 2020.


**VARIABLES**: Para conocer la codificación de las variables disponibles en el Cuestionario Sociodemográfico de la ENOE, revisar la siguiente documentación https://www.inegi.org.mx/contenidos/programas/enoe/15ymas/doc/fd_c_bas_amp_15ymas.pdf

**NOTA:** solo descargar si no están los datos disponibles en el directorio de trabajo o si se desean actualizar los datos para incluir más trimestres de diferentes años

In [ ]:
# Correr sólo una vez
!pip3 install zipfile38
!pip3 install dbfread

Requirement already satisfied: zipfile38 in /usr/local/lib/python3.7/dist-packages (0.0.3)
Requirement already satisfied: dbfread in /usr/local/lib/python3.7/dist-packages (2.0.7)

In [ ]:
import requests, sys, io # lectura desde URL
import zipfile38 as zipfile # apoyos para lecturas de ZIP

import pandas as pd # usar dataframes
import os # manipulación de archivos en el sistema

from dbfread import DBF # lectura de archivos .dbf

# Lectura de los archivos del cuestionario sociodemográfico de la ENOE
zips = ["SDEMT0420", "SDEMT0520", "SDEMT0620", "SDEMT120", "enoen_sdemt320", "SDEMT420"]

for zip in zips:
  r = requests.get(f"https://github.com/Walt9819/factores-impacto-desempleo-mexico/blob/main/R/Project/enoe_sdem/{zip}.zip?raw=true")
  z = zipfile.ZipFile(io.BytesIO(r.content))
  z.extractall("")


# Columnas a leer
columnas = ["SEX", "EDA", "NIV_INS", "RAMA_EST2", "CLASE2", "PER", "DUR_EST", "ING7C", "MEDICA5C", "EMPLE7C"]

# Conjunto de datos a llenar
data = pd.DataFrame()


# Leer todos los archivos `.dbf`
for file in os.listdir():
    if file.endswith(".dbf"):
      table = DBF(file, load=True)
      print(f"Load {file} succesfully\nTransforming data..")
      table = pd.DataFrame(iter(table))
      print("Adding data to main dataframe...")
      data = data.append(table[columnas])

# Sólo nos quedamos con las personas ocupadas (codificado como 1)

data = data.drop(data[data['CLASE2']>1].index)

#Export to data
data.to_csv("data_enoe_amp.csv", encoding="utf-8", index=False) # exportar a un CVS (de forma local)

Load ENOEN_SDEMT420.dbf succesfully
Transforming data..
Adding data to main dataframe...
Load SDEMT0520.dbf succesfully
Transforming data..
Adding data to main dataframe...
Load SDEMT0620.dbf succesfully
Transforming data..
Adding data to main dataframe...
Load SDEMT120.dbf succesfully
Transforming data..
Adding data to main dataframe...
Load enoen_sdemt320.dbf succesfully
Transforming data..
Adding data to main dataframe...
Load SDEMT0420.dbf succesfully
Transforming data..
Adding data to main dataframe...

In [ ]:
from google.colab import files
files.download("data_enoe_amp.csv")

## Análisis exploratorio de datos

In [3]:
import pandas as pd

In [4]:
# Lectura de datos y creación de DataFrame
df = pd.read_csv("https://github.com/Walt9819/factores-impacto-desempleo-mexico/blob/main/Python/data/data_enoe_amp.csv?raw=true", encoding="utf-8")

df

        SEX   EDA  NIV_INS  RAMA_EST2  ...  DUR_EST  ING7C  MEDICA5C  EMPLE7C
0       2.0   8.0        1          0  ...        0      0         0        0
1       2.0  46.0        4          7  ...        4      2         1        2
2       1.0  46.0        4          7  ...        2      1         1        1
3       2.0   1.0        0          0  ...        0      0         0        0
4       1.0   4.0        0          0  ...        0      0         0        0
...     ...   ...      ...        ...  ...      ...    ...       ...      ...
287226  NaN   NaN        0          0  ...        0      0         0        0
287227  NaN   NaN        0          0  ...        0      0         0        0
287228  2.0  12.0        0          0  ...        0      0         0        0
287229  NaN   NaN        0          0  ...        0      0         0        0
287230  NaN   NaN        0          0  ...        0      0         0        0

[287231 rows x 10 columns]

In [5]:
# Tamaño de DataFrame: 287,231 registros y 10 columnas
df.shape

(287231, 10)

In [6]:
# Primeros registros
df.head

<bound method NDFrame.head of         SEX   EDA  NIV_INS  RAMA_EST2  ...  DUR_EST  ING7C  MEDICA5C  EMPLE7C
0       2.0   8.0        1          0  ...        0      0         0        0
1       2.0  46.0        4          7  ...        4      2         1        2
2       1.0  46.0        4          7  ...        2      1         1        1
3       2.0   1.0        0          0  ...        0      0         0        0
4       1.0   4.0        0          0  ...        0      0         0        0
...     ...   ...      ...        ...  ...      ...    ...       ...      ...
287226  NaN   NaN        0          0  ...        0      0         0        0
287227  NaN   NaN        0          0  ...        0      0         0        0
287228  2.0  12.0        0          0  ...        0      0         0        0
287229  NaN   NaN        0          0  ...        0      0         0        0
287230  NaN   NaN        0          0  ...        0      0         0        0

[287231 rows x 10 columns]>

In [7]:
# Últimos registros
df.tail

<bound method NDFrame.tail of         SEX   EDA  NIV_INS  RAMA_EST2  ...  DUR_EST  ING7C  MEDICA5C  EMPLE7C
0       2.0   8.0        1          0  ...        0      0         0        0
1       2.0  46.0        4          7  ...        4      2         1        2
2       1.0  46.0        4          7  ...        2      1         1        1
3       2.0   1.0        0          0  ...        0      0         0        0
4       1.0   4.0        0          0  ...        0      0         0        0
...     ...   ...      ...        ...  ...      ...    ...       ...      ...
287226  NaN   NaN        0          0  ...        0      0         0        0
287227  NaN   NaN        0          0  ...        0      0         0        0
287228  2.0  12.0        0          0  ...        0      0         0        0
287229  NaN   NaN        0          0  ...        0      0         0        0
287230  NaN   NaN        0          0  ...        0      0         0        0

[287231 rows x 10 columns]>

In [8]:
# Tipos de datos
df.dtypes

SEX          float64
EDA          float64
NIV_INS        int64
RAMA_EST2      int64
CLASE2         int64
PER            int64
DUR_EST        int64
ING7C          int64
MEDICA5C       int64
EMPLE7C        int64
dtype: object

## Limpieza de datos

In [9]:
# Cambio de nombre de columnas
df.columns

Index(['SEX', 'EDA', 'NIV_INS', 'RAMA_EST2', 'CLASE2', 'PER', 'DUR_EST',
       'ING7C', 'MEDICA5C', 'EMPLE7C'],
      dtype='object')

In [10]:
df.columns = ['sexo', 'edad', 'niv_educ', 'sector', 'ocu', 'periodo', 'jor_lab',
       'niv_ing', 'inst_salud', 'uni_eco']
df.columns

Index(['sexo', 'edad', 'niv_educ', 'sector', 'ocu', 'periodo', 'jor_lab',
       'niv_ing', 'inst_salud', 'uni_eco'],
      dtype='object')

In [11]:
# Identificar valores con NaN
df.isna().sum()

sexo          14065
edad          14065
niv_educ          0
sector            0
ocu               0
periodo           0
jor_lab           0
niv_ing           0
inst_salud        0
uni_eco           0
dtype: int64

In [12]:
 # Eliminar filas con NaN

df = df.dropna(axis=0, how='any')

## Transformación de datos

In [13]:
# Transformacion de datos float a int

df['sexo'] = df['sexo'].astype(int)
df['edad'] = df['edad'].astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
# Dividir estring de periodo

In [14]:
# Filtros:

# Personas que están ocupadas

ocupadas = df['ocu']==1

# Personas que están en edad de trabajar, es decir, a los mayores de 15 años y menores de 65 años

mayores_15 = df['edad']>=15
menores_65 = df['edad']<=65

# Nivel educativo especificado

filtro_niv_educ = df['niv_educ']<5

# Jornada laboral especificada

filtro_jor_lab = df['jor_lab']<6

# Nivel de ingresos  especificado

filtro_niv_ing = df['niv_ing']<7

# Acceso a institución de salud especificado

filtro_inst_salud = df['inst_salud']<5

# Tamaño de la unidad económica especificada

filtro_uni_eco = df['uni_eco']<7


# Unión de filtros

df = df[ocupadas & mayores_15 & menores_65 & filtro_niv_educ & filtro_jor_lab & filtro_niv_ing & filtro_inst_salud & filtro_uni_eco]

In [15]:
df

        sexo  edad  niv_educ  sector  ...  jor_lab  niv_ing  inst_salud  uni_eco
1          2    46         4       7  ...        4        2           1        2
2          1    46         4       7  ...        2        1           1        1
9          1    40         4       8  ...        4        4           4        6
10         2    41         4       3  ...        2        1           1        1
13         2    49         3      10  ...        3        1           1        1
...      ...   ...       ...     ...  ...      ...      ...         ...      ...
287151     2    24         4      10  ...        1        2           1        2
287154     1    39         3      11  ...        1        3           3        6
287155     1    25         1       4  ...        3        1           1        2
287156     2    39         3       6  ...        5        2           4        2
287157     1    33         4       5  ...        5        4           1        2

[149011 rows x 10 columns]

## Gráficas

In [22]:
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
# Sector y nivel de ingreso


# Sector y jornada laboral


#